#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
    #circle{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: green;
    box-sizing: border-box;
}
#change-color{
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}
#change-shape{
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}

div{
    display: block;
}

.myShape{
    background-color: white;
    position: relative;
    width: 75px;
    height: 75px;
    left: 38px;
    top: 40px;
}
.angle{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid rgb(0, 255, 229);
    border-right: 75px solid transparent;
}
.diamond {
       left: 42px;
       top: 42px;
        width: 70px;
        height: 70px;
        background-color: rgb(255, 0, 225);
        position: relative;
        transform: rotate(45deg);
    }
  .circle {
    width: 90px;
    height: 90px;
    margin-top: 30px;
    margin-left: 31px;
    background-color: #007bff; 
    border-radius: 50%;
  }
  .rectangle {
    width: 100px;
    height: 70px; 
    background-color: #00ff00; 
    margin-top: 40px;
    margin-left: 26px;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 90px solid #ff0000; 
   margin-left: 36px;
    margin-top: 25px;
    
  }